<!DOCTYPE html>
<html>
  <head>
    <title>Rooms!</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../../../slick/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../slick/slick-theme.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <style type="text/css">
      html,
      body {
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        color: black;
        font-size: 500;
        margin: 0;
        padding: 0;
      }
      body,
      html {
        background-color: #1d1c25;
        margin: 0;
        padding: 0;
      }
      iframe {
        padding: 0;
        width: 100%;
        margin: 0;
        height: auto;
      }

      .range {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 200px;
        margin-top: 10px;
        transform: translate(-50%, -50%);
      }

      input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: rgba(59, 173, 227, 1);
        background: -moz-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: -webkit-gradient(
          left bottom,
          right top,
          color-stop(0%, rgba(59, 173, 227, 1)),
          color-stop(25%, rgba(87, 111, 230, 1)),
          color-stop(51%, rgba(152, 68, 183, 1)),
          color-stop(100%, rgba(255, 53, 127, 1))
        );
        background: -webkit-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: -o-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: -ms-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
        height: 2px;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]::-moz-range-track {
        -moz-appearance: none;
        background: rgba(59, 173, 227, 1);
        background: -moz-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: -webkit-gradient(
          left bottom,
          right top,
          color-stop(0%, rgba(59, 173, 227, 1)),
          color-stop(25%, rgba(87, 111, 230, 1)),
          color-stop(51%, rgba(152, 68, 183, 1)),
          color-stop(100%, rgba(255, 53, 127, 1))
        );
        background: -webkit-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: -o-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: -ms-linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        background: linear-gradient(
          45deg,
          rgba(59, 173, 227, 1) 0%,
          rgba(87, 111, 230, 1) 25%,
          rgba(152, 68, 183, 1) 51%,
          rgba(255, 53, 127, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
        height: 2px;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        max-width: 80px;
        position: relative;
        bottom: 11px;
        background-color: #1d1c25;
        cursor: -webkit-grab;

        -webkit-transition: border 1000ms ease;
        transition: border 1000ms ease;
      }

      input[type="range"]::-moz-range-thumb {
        -moz-appearance: none;
        border: 2px solid;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        max-width: 80px;
        position: relative;
        bottom: 11px;
        background-color: #1d1c25;
        cursor: -moz-grab;
        -moz-transition: border 1000ms ease;
        transition: border 1000ms ease;
      }

      .range.blue::-webkit-slider-thumb {
        border-color: rgb(59, 173, 227);
      }

      .range.ltpurple::-webkit-slider-thumb {
        border-color: rgb(87, 111, 230);
      }

      .range.purple::-webkit-slider-thumb {
        border-color: rgb(152, 68, 183);
      }

      .range.pink::-webkit-slider-thumb {
        border-color: rgb(255, 53, 127);
      }

      .range.blue::-moz-range-thumb {
        border-color: rgb(59, 173, 227);
      }

      .range.ltpurple::-moz-range-thumb {
        border-color: rgb(87, 111, 230);
      }

      .range.purple::-moz-range-thumb {
        border-color: rgb(152, 68, 183);
      }

      .range.pink::-moz-range-thumb {
        border-color: rgb(255, 53, 127);
      }

      input[type="range"]::-webkit-slider-thumb:active {
        cursor: -webkit-grabbing;
      }

      input[type="range"]::-moz-range-thumb:active {
        cursor: -moz-grabbing;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        width: 500px;
        display: inline-block;
        margin: 25px;
      }

      .card:hover {
        box-shadow: 0.5 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      .container-name {
        text-align: center;
        position: relative;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        padding: 2px 16px;
        border: 5;
        box-shadow: 0 0px 0px 8px rgba(0, 0, 0, 0.4);
        background-color: #52e0dd;
      }
      .container-rgb {
        position: relative;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        padding: 2px 16px;
        border: 5;
        background-color: #50add2;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
      }
      .container-charts {
        position: relative;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        padding: 2px 16px;
        border: 5;
        background-color: #4671a3;
        box-shadow: 5px 1px 0px 0px rgba(0, 0, 0, 0.2);
      }
      .container-secure {
        position: relative;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        padding: 2px 16px;
        border: 5;
        background-color: #595386;
        box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
      }
      .container-gaz {
        position: relative;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        padding: 2px 16px;
        border: 5;
        background-color: #554269;
      }

      * {
        box-sizing: border-box;
      }

      .slider {
        width: 90%;
        margin: 100px auto;
      }

      .slick-slide {
        margin: 0px 20px;
      }

      .slick-slide {
        width: 400px;
      }

      .slick-prev:before,
      .slick-next:before {
        color: black;
      }

      .slick-slide {
        transition: all ease-in-out 0.3s;
        opacity: 0.2;
      }

      .slick-active {
        opacity: 0.5;
      }

      .slick-current {
        opacity: 1;
      }
      .rgbview {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div style="display: none;">
      <h1 id="getrooms">
        <%= rooms %>
      </h1>
      <h1 id="dht">
        <%= dht %>
      </h1>
      <h1 id="rgb">
        <%= rgb %>
      </h1>
      <h1 id="alarm">
        <%= alarm %>
      </h1>

      <h1 id="gsense">
        <%= gsense %>
      </h1>
      <h1 id="ultrason">
        <%= ultrason %>
      </h1>
      <h1 id="light">
        <%= light %>
      </h1>
    </div>

    <section class="regular slider" id="test"></section>

    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>
    <script
      src="../../../slick/slick.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script>
      var getrooms = JSON.parse(document.getElementById("getrooms").innerHTML);
      console.log(getrooms);
      var allrgb = JSON.parse(document.getElementById("rgb").innerHTML);
      var alldht = JSON.parse(document.getElementById("dht").innerHTML);
      var allgsense = JSON.parse(document.getElementById("gsense").innerHTML);
      var alllight = JSON.parse(document.getElementById("light").innerHTML);
      var allultrason = JSON.parse(
        document.getElementById("ultrason").innerHTML
      );
      var allalarm = JSON.parse(document.getElementById("alarm").innerHTML);

      var kitchen = {
        name: "couzina",
        type: "kitchen",
        dht: "skhana",
        rgb: { exists: true, light: false },
        dht: { exists: true },
        gaz: { exists: true },
        motion: { exists: true }
      };
      var chambrti = {
        name: "chambrti",
        type: "bedroom",
        rgb: { exists: true, light: false },
        dht: { exists: true },
        gaz: { exists: true },
        motion: { exists: true }
      };
      var sallon = {
        name: "sallon",
        type: "livingroom",
        dht: "brd",
        rgb: { exists: true, light: false },
        dht: { exists: true },
        gaz: { exists: true },
        motion: { exists: true }
      };
      var couloire = {
        name: "couloire",
        type: "hallway",
        dht: "brd",
        rgb: { exists: true, light: false },
        dht: { exists: true },
        gaz: { exists: true },
        motion: { exists: true }
      };
      var rooms = [kitchen, chambrti, sallon, sallon, couloire];

      function showRooms(i) {
        document.getElementById("test").innerHTML +=
          '<div class="card">' +
          '<section class="container-name" id="type' +
          i +
          '" >' +
          "</section>" +
          '<section class="container-rgb" id="rgb' +
          i +
          '">' +
          "</section>" +
          '<iframe class="container-charts" id="charts' +
          i +
          '" frameBorder="0" scrolling="no">' +
          "</iframe>" +
          '<section class="container-secure" id="motion' +
          i +
          '">' +
          "</section>" +
          '<iframe class="container-gaz" id="gaz' +
          i +
          '" frameBorder="0" scrolling="no">' +
          "</iframe>" +
          "</div>";
      }

      function addType(i) {
        if (getrooms[i].typeRoom == "kitchen") {
          document.getElementById("type" + i).innerHTML +=
            '<img src="../../../icons/hat.png" style="width:50px;margin-left:160px;margin-top:10px;">';
          document.getElementById("type" + i).innerHTML +=
            "<p>" + getrooms[i].name + "</p>";
        }
        if (getrooms[i].typeRoom == "bedroom") {
          document.getElementById("type" + i).innerHTML +=
            '<img src="../../../icons/bedroom.png" style="width:50px;margin-left:160px;margin-top:10px;">';
          document.getElementById("type" + i).innerHTML +=
            "<p>" + getrooms[i].name + "</p>";
        }
        if (getrooms[i].typeRoom == "livingRoom") {
          document.getElementById("type" + i).innerHTML +=
            '<img src="../../../icons/livingroom.png" style="width:50px;margin-left:160px;margin-top:10px;">';
          document.getElementById("type" + i).innerHTML +=
            "<p>" + getrooms[i].name + "</p>";
        }
        if (getrooms[i].typeRoom == "office") {
          document.getElementById("type" + i).innerHTML +=
            '<img src="../../../icons/office.png" style="width:50px;margin-left:160px;margin-top:10px;">';
          document.getElementById("type" + i).innerHTML +=
            "<p>" + getrooms[i].name + "</p>";
        }
        if (getrooms[i].typeRoom == "hallway") {
          document.getElementById("type" + i).innerHTML +=
            '<img src="../../../icons/hallway.png" style="width:50px;margin-left:160px;margin-top:10px;">';
          document.getElementById("type" + i).innerHTML +=
            "<p>" + getrooms[i].name + "</p>";
        }
      }
      function addRGB(i) {
        getrooms[i].devices.light.forEach(function(id) {
          alllight.forEach(function(elm) {
            if (id == elm._id) {
              if (elm.used == true) {
                b = elm.value;
                console.log(b);

                if (elm.value == true) {
                  document.getElementById("rgb" + i).innerHTML +=
                    '<section id="OnOff"><img title="' +
                    id +
                    '"  onclick="OnOff(' +
                    i +
                    ", " +
                    b +
                    ')" src="../../icons/on.png" style="width:13%;margin-left:35px;margin-top:20px;margin-bottom:20px" class="rgbview"></section>';
                } else if (elm.value == false) {
                  document.getElementById("rgb" + i).innerHTML +=
                    '<section id="OnOff"><img title="' +
                    id +
                    '"   onclick="OnOff(' +
                    i +
                    ", " +
                    b +
                    ')" src="../../icons/off.png" style="width:13%;margin-left:35px;margin-top:20px;margin-bottom:20px" class="rgbview"></section>';
                }
              }
            }
          });
        });
      }
      function OnOff(i, a) {
        if (a == true) {
          var id = document
            .getElementById("rgb" + i)
            .childNodes[0].getElementsByTagName("img")[0].title;
          var b = false;
          console.log("id haho: " + id);

          $.ajax({
            url: "/api/rooms/light",
            method: "POST",
            data: JSON.stringify({ id: id, value: b }),
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              console.log(data);
            }
          });

          document.getElementById("rgb" + i).innerHTML =
            '<section id="OnOff"><img title="' +
            id +
            '"  onclick="OnOff(' +
            i +
            ", " +
            b +
            ')" src="../../icons/off.png" style="width:13%;margin-left:35px;margin-top:20px;margin-bottom:20px" class="rgbview"></section>';
        } else {
          var id = document
            .getElementById("rgb" + i)
            .childNodes[0].getElementsByTagName("img")[0].title;
          var b = true;
          console.log("id haho: " + id);

          $.ajax({
            url: "/api/rooms/light",
            method: "POST",
            data: JSON.stringify({ id: id, value: b }),
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              console.log(data);
            }
          });
          document.getElementById("rgb" + i).innerHTML =
            '<section id="OnOff"><img title="' +
            id +
            '" onclick="OnOff(' +
            i +
            ", " +
            b +
            ')" src="../../icons/on.png" style="width:13%;margin-left:35px;margin-top:20px;margin-bottom:20px" class="rgbview"></section>';
        }
      }

      function addCharts(i) {
        getrooms[i].devices.dht.forEach(function(id) {
          alldht.forEach(function(elm) {
            if (id == elm._id) {
              if (elm.used == true) {
                setTimeout(function() {
                  document.getElementById(
                    "charts" + i
                  ).contentDocument.defaultView.massPopChart.data.datasets[0].data =
                    elm.value;
                }, 1500);
                document.getElementById("charts" + i).src =
                  "../../../Sweet-chart/mychart/dht.html";
              }
              b = elm.value;
            }
          });
        });
      }
      function addMotion(i) {
        getrooms[i].devices.light.forEach(function(id) {
          alllight.forEach(function(elm) {
            if (id == elm._id) {
              if (elm.used == true) {
                if (elm.value == true) {
                  document.getElementById("motion" + i).innerHTML +=
                    '<img src="../../icons/motion.png" style="width:25%; margin-left:25px;margin-top:10px; margin-bottom:10px">';
                }
              }
            }
          });
        });
      }

      function addGaz(i) {
        getrooms[i].devices.gsense.forEach(function(id) {
          allgsense.forEach(function(elm) {
            if (id == elm._id) {
              if (elm.used == true) {
                setTimeout(function() {
                  // document.getElementById(
                  // "gaz" + i
                  // ).contentDocument.defaultView.massPopChart.data.datasets[0].data =
                  // elm.value;
                }, 5000);

                document.getElementById("gaz" + i).src +=
                  "../../Sweet-chart/mychart/gaz.html";
              }
            }
          });
        });
      }
    </script>
    <script>
      $(document).on("ready", function() {
        for (i = 0; i < getrooms.length; i++) {
          showRooms(i);
          addType(i);
          addRGB(i);
          addCharts(i);
          addGaz(i);
          addMotion(i);
        }
      });
    </script>

    <script type="text/javascript">
      var a;
      if (getrooms.length > 3) {
        a = true;
      } else {
        a = false;
      }
      $(document).on("ready", function() {
        $(".regular").slick({
          dots: true,
          infinite: a,
          speed: 300,
          slidesToShow: 1,
          centerMode: true,
          variableWidth: true,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: "40px",
                slidesToShow: 1
              }
            },
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: "40px",
                slidesToShow: 1
              }
            }
          ]
        });
      });
    </script>
  </body>
</html>
