<!DOCTYPE html>
<html>
<head>
  <title>Rooms!</title>
  <meta charset="UTF-8">  
  <link href="../../../dist/css/hopscotch.min.css" rel="stylesheet" />
  <link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
/>
  <link rel="stylesheet" type="text/css" href="../../../slick/slick.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../slick/slick-theme.css"
  />
 
  
  
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
  <script src="https://js.pusher.com/4.4/pusher.min.js"></script>

  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="icon" type="image/png" href="/views/designs/favicon.png" sizes="32x32" />
  <link rel="manifest" href="/views/manifest.json">  
  <meta name="theme-color" content="#585f82">
  <link rel="apple-touch-icon" href="/views/designs/touch-apple.png">
  <script src="//code.jquery.com/jquery.min.js"></script> 

  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

  <script>  

      function flip() {
        $(".card").toggleClass("flipped");
      }
    </script>


    <script>
      var doughnut = 0;
      var chawrma = 1;
      window.setInterval(function() {
        doughnut = doughnut + 1;
        var pizza = 0;
        pizza = doughnut % 20;

        if (pizza == 0) {
          flip();
          chawrma = 1;
        } else {
          if (chawrma == 1) {
            flip();
            chawrma = 0;
          }
        }
      }, 1000);
    </script>
</head>
<body>


<!--------------------------------------------------------------->





    <div class="row"  >
        <!---hadi ga3 t3 animation t3 kol w7da -->
        <section class="container" id="logout">
          <div class="card">
                                      <div class="front">
                                  <div class="column">
                                   <img id="front"  onclick="document.getElementById('id01').style.display='block'" src="../../../designs/login.png" title="logout" >
                                  </div>                          
                            </div>
                    <div class="back"> 
                            <div class="column">
                               <img id="front"  onclick="document.getElementById('id01').style.display='block'" src="../../../designs/login1.png" title="logout" >
                      
                            </div>
                    </div>
          </section>
        <!--hna tkml lwla g3 t3 nav bar t3 login-->
        <!--zwaja tbda hna-->
        <section class="container">
                <div class="card"  id="notify">
                        <div class="front">
                                <div calss="column">
                                    <img onclick="document.getElementById('id02').style.display='block'" src="../../../designs/notifications.png" title="notification" id="notify">                                </div>

                        </div>
                        <div class="back">
                                <div calss="column">
                                    <img onclick="document.getElementById('id02').style.display='block'"  src="../../../designs/notifications1.png" title="notification" id="notify">                                </div>
                           </div>
                </div>

            </section>
        <!--talta tbda hna-->
        <section class="container">
          <div class="card" id="showRoutines">
            
            <div class="front">
                                <div calss="column">
                                    <img onclick="document.getElementById('id09').style.display='block'" src="../../../designs/settings.png" title="settings" >
                                  </div>

                        </div>
                        <div class="back">
                                <div calss="column">
                                    <img onclick="document.getElementById('id09').style.display='block'"  src="../../../designs/settings1.png" title="settings" >                                </div>
                           </div>
                </div>

            </section>
        <!--rab3a hna--> 
        <section class="container">
                <div class="card"  id="add-tour">
                        <div class="front">
                                <div calss="column">
                                    <img onclick="document.getElementById('id03').style.display='block'" src="../../../designs/add.png" title="add romm" >
                                </div>

                        </div>
                        <div class="back">
                                <div calss="column">
                                     <img onclick="addRoom(this)"  src="../../../designs/add1.png" title="add room" >
                                </div>
                           </div>
                </div>

            </section>
        <!--talia ga3 hna-->
        <section class="container">
                <div class="card" id="help-tour">
                        <div class="front">
                                <div calss="column">
                                  <img onclick="document.getElementById('id13').style.display='block'" src="../../../designs/help.png" title="help" id="help-tour">                                </div>

                        </div>
                        <div class="back">
                                <div calss="column">
                                  <img onclick="libya(this)"  src="../../../designs/help1.png" title="help" id="help-tour">                                </div>
                           </div>
                </div>

            </section>
      
</div>  
<!------------------------------------------------------------>



     <!--hadi l fenetre li tkhrjlk f login-->
<div id="id01" class="modal">
        

        <form class="modal-content animate"  action="/"  >
          <div class="imgcontainer">
            <img src="../../../designs/sweet.png" class="bo">
            <img src="../../../designs/key.png" alt="Avatar" class="avatar">
            <h1>your home will stay sweet when you're away!</h1>
          
                
            <button id="logoutPage" type="submit">logout</button>
            
          
          
            
          
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="ghost">Cancel</button>
           
                  </div> 
            </form>
    </div>
      <!--script hada t3 ki tclicki barra window youkhrj-->
     
      <div id="id13" class="modal">

        <div class="imgcontainer">
        <form class="modal-content animate" action="#">
      
      
      
            <h1>Take a tour around the app! </h1>
            <p>confused or new user? follow the walkthrough to know all the elements and to use the app to its maximum</p>
      
          <br>
          <br>
          <button id="libya"  type="button" class="btn btn-primary">Start </button>

      
      <br>
      <br>
      <h1>Any qestions ?</h1>
      <p>Send us an email and we will reply as soon as possible!</p>
          <input type="text" placeholder="Email"  />
          <input type="text" placeholder="Subject"  />
          <textarea placeholder="Message"  maxlength="2000"></textarea>
          <button type="button" >Send</button>
      <br>
                    <button type="button" onclick="document.getElementById('id13').style.display='none'" class="ghost">Cancel</button>
           
            <br>
            <br>       
            </form>
      </div>
      </div>
      <script src="../../../js/jquery-1.10.2.js"></script>
      <script src="../../../dist/js/hopscotch.js"></script>
            
      <script>
        function libya(){
          document.getElementById('id13').style.display='block'
          if (screen.width < 700) {
            var r = 120;
            var a = "bottom";
            var b = -195;
            var c = 220;
            var x = -120;
            var y = 130;
            var u = -45;
            var i = 55;
            var w = -10;
            var v = 30;
            var p = -240;
            var o = 270;
          } else {
            var r = 100;
            var a = "left";
            var b = 15;
            var c = 60;
            var x = 15;
            var y = 60;
            var u = 15;
            var i = 60;
            var w = 15;
            var v = 60;
            var p = 15;
            var o = 60;
          }
if(getrooms.length !=0 ){
  typeX = {
    target: "type0",
    placement: a,
    title: "Name and type of your room",
    content:
      "here you will find the name and the type of your room; if you're on a phone or a tablet , grab and swipe left and right to navigate between your rooms!"
  }
} 
if (getrooms[0].devices.ultrason[0] != ""){
  motionX ={
    target: 'motions0',
    placement: a,
    title: 'motion detector',
    content: 'If you see this little man running , then there\'s movement in your room, and if he\'s not moving then your room is safe and empty.',
  }
}
if (getrooms[0].devices.dht[0] != ""){
  chartX = {
    target: "charts0",
    placement: a,
    title: "Temperature and humidity ",
    content:
      "keep track of your room's temperature and humidity, click on it to check the detailed chart over time!"
  }
}
if (getrooms[0].devices.rgb[0] != "") {
  rgbX =  {
    target: "rgb0",
    placement: a,
    title: "Control your lights",
    content:
      "turn on or off by clicking on the light bulb, and have fun changing your light color with the rgb color wheel"
  }
}
if(getrooms[0].devices.gsense[0] != ""){
  gazX = {
    target: "charts0",
    placement: a,
    title: "Temperature and humidity ",
    content:
      "keep track of your room's temperature and humidity, click on it to check the detailed chart over time!"
  }
} else {
  gazX = {

  }
}
  

    var tour = {
      id: "hello-hopscotch",
      steps: [
        {
          target: "test",
          title: "Hello and welcome!",
          content:
            "welcome to your Sweet app, where you can control your whole home easily , by controlling each room by itself! each room has its own card with the devices working in it!",
          placement: "top",
          yOffset: r,
          xOffset: 15,
          arrowOffset: 60
        },
  
        typeX,
       rgbX,
        chartX,
       motionX,
      gazX,
        {
          target: "add-tour",
          placement: "bottom",
          title: "Add a new room",
          content:
            "create a new room here by naming it , choosing a type and Selecting the devices that you installed in it ",
          yOffset: 100,
          xOffset: b,
          arrowOffset: c
        },
        {
          target: "showRoutines",
          placement: "bottom",
          title: "Routines",
          content:
            "all of us have routines that we repeat every day , well you don't have to anymore! ",
          yOffset: 100,
          xOffset: x,
          arrowOffset: y
        },
        {
          target: "showRoutines",
          placement: "bottom",
          content:
            "Add your routine , name it and give it a themed color, and select devices that will do certain actions when the routine is activated! ",
          yOffset: 100,
          xOffset: x,
          arrowOffset: y
        },
        {
          target: "showRoutines",
          placement: "bottom",
          content:
            "for example : whenever you are going to sleep you have to turn all the lights off and turn on the alarm for motion sensors , well... why do it by hand when you only have to press one button if you add a sleep routine here? (cool, right?) ",
          yOffset: 100,
          xOffset: x,
          arrowOffset: y
        },
        {
          target: "notify",
          placement: "bottom",
          title: "Notifications",
          content:
            "all of the notifications sent to you by the app are listed here , if you miss one you can check it , and if you handled the situation , you can delete the notification with the lil 'x' on the right of each one ",
          yOffset: 100,
          xOffset: u,
          arrowOffset: i
        },
        {
          target: "logout",
          placement: "bottom",
          title: "Logout!",
          content:
            "if you want to sign off from your account , you can do it here !  ",
          yOffset: 100,
          xOffset: w,
          arrowOffset: v
        },
        {
          target: "help-tour",
          placement: "bottom",
         
          content:
            "have fun using your Sweet app in your Sweet home, if you have any questions, fill free to sen us an email with the form that you will find here!",
          yOffset: 100,
          xOffset: p,
          arrowOffset: o
        }
      ],
      showPrevButton: true,
      scrollTopMargin: 100
    }
  
      document.getElementById("libya").addEventListener("click", function() {
        document.getElementById('id13').style.display='none' ; 

        if (!hopscotch.isActive) {

        hopscotch.startTour(tour);
        }


      });
    };


</script>
        <!--  id13   -->


 <!--hadi window li tkhrjlk f notifications khssha script li gtlk 3lih , khmmt ndirha kol type t3 notification b color-->
 <div id="id02" class="modal">
    <div class="imgcontainernotif">
            <form class="modal-content animate">
                <h1>notifications</h1>
                <ul id="notifi">
               
               </ul>
               
               
                            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="ghost">Cancel</button>
                          </form>
                        </div>
  </div>






   <div id="id03" class="modal">
        

      <form class="modal-content animate" action="javascript:;" onsubmit="create(this)">
          <div class="imgcontainer">
          <h1>Add a new room</h1>

          <input id="nameRoom" type="text" placeholder="choose a name for the room"  />
          <div class="selectcontainer">
          <select name="select-type" id="select-type" class="form-control">
              <option value="1" icon="kitchen">kitchen</option>
              <option value="2" icon="hallway">hallway</option>
              <option value="3" icon="office">office</option>
              <option value="4" icon="bedroom">bedroom</option>
              <option value="5" icon="livingroom">livingRoom</option>
              
      
            </select>
          </div> 
          <select name="select-devices" id="select-devices" class="form-control">
            <option  style="display: none;"  value="0" >dht</option>
            <option  style="display: none;"  value="1" >rgb</option>
            <option  style="display: none;"  value="2" >gsense</option>
            <option  style="display: none;"  value="3" >ultrason</option>
            <option  style="display: none;"  value="4">alarm</option>
            <option  style="display: none;"  value="5">light</option>
            <option  style="display: none;"  value="6">light</option>
            <option  style="display: none;"  value="7">light</option>
            <option  style="display: none;"  value="8">light</option>
            <option  style="display: none;"  value="9">light</option>


              
      
            </select>
          </div> 
          
          
          <button id="createRoom" type="submit">Create Room</button>
           <button type="button" onclick="document.getElementById('id03').style.display='none'" class="ghost">Cancel</button>
         
                </div> 
          </form>
  </div>








  <div id="id05" class="modal">
        

    <form class="modal-content animate" action="javascript:;" onsubmit="modifyRoom(this)">
      <div class="imgcontainer">  
          <h1>Modify this room</h1>

          <input id="modify" type="text" placeholder="oussama 7at old name t3 room hna"  />
          <div class="selectcontainer">
          <select name="select-devicesdelet" id="select-devicesdelet" class="form-control">
            <option value="0" >dht</option>
            <option value="1" >rgb</option>
            <option value="2" >gsense</option>
            <option value="3" >ultrason</option>
            <option value="4">alarm</option>
            <option value="5">light</option>
            <option value="6">light</option>
            <option value="7">light</option>
            <option value="8">light</option>
            <option value="9">light</option>
            <option value="10">light</option>
            <option value="11">light</option>
            <option value="12">light</option>
            <option value="13">light</option>
            <option value="14">light</option>

              
      
            </select>
          </div> 
          <div class="selectcontainer">
          <select name="select-devicestoadd" id="select-devicestoadd" class="form-control">
            <option value="0" >dht</option>
              <option value="1" >rgb</option>
              <option value="2" >gsense</option>
              <option value="3" >ultrason</option>
              <option value="4">alarm</option>
              <option value="5">light</option>
              <option value="6">light</option>
              <option value="7">light</option>
              <option value="8">light</option>
              <option value="9">light</option>
              <option value="10">light</option>
              <option value="11">light</option>
              <option value="12">light</option>
              <option value="13">light</option>
              <option value="14">light</option>
      
            </select>
          </div> 
          
          
          <button id="modifi"  type="submit">Modify Room</button>
           <button type="button" onclick="document.getElementById('id05').style.display='none'" class="ghost">Cancel</button>
         
                </div> 
          </form>
  </div>



  <div id="dialogBox" style="display: none;">
      <div id="chartContainer" class="dialog" style="height: 500px; width: 100%;"></div>
  </div>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <div id="id06" class="modal">
        

    <form class="modal-content animate detailed" action="/action_page.php" > <!---   temperature.html----->
     <form>
      <iframe src="../../../Sweet-chart/mychart/temperature.html" class="detailed-graph" frameBorder="0" scrolling="no" id=" "></iframe>
      <br>
      <br> 
      <br>
      <button type="button" onclick="document.getElementById('id06').style.display='none'" class="ghost" style="width:25%;">Exit</button>

    </form>
    </form>

</div>





<div id="id07" class="modal">
      

  <form class="modal-content animate detailed" action="/action_page.php" >
   <form>
    <iframe src="../../../Sweet-chart/mychart/gaz1.html" class="detailed-graph" frameBorder="0" scrolling="no" id="detailed"></iframe>

    <br>
    <br>
    <br>
    <button type="button" onclick="document.getElementById('id07').style.display='none'" class="ghost" style="width:25%;">Exit</button>
  </form>

</div>
</div>

<!--confirmation pop up-->
<div id="id08" class="modal">


    <form class="modal-content animate detailed delete-confirmation" >     <form >
        <br>
        <br>
       Delete this room?
     <br>
     <br>
        <button type="submit">Delete</button>
        <button type="button" onclick="document.getElementById('id08').style.display='none'" class="ghost">Cancel</button>
        <br>
        <br>
        <br> 
  
     </form>
    </form>
  
  </div>



  <!---------------------------------------------->
<div id="id09" class="modal">

    <div class="imgcontainerroutines">
  <form class="modal-content animate">
  
    <h1>Routines</h1>
    <section id="routines"></section>
  
    <img src="../../../icons/addroutine.png" onclick="clickBb(this)" style="width:40px">
  <br>
  <br>
    <button type="button" onclick="document.getElementById('id09').style.display='none'" class="ghost">Cancel</button>
    <br>
    <br>
    <br>
  </form>
  
  </div>
  </div>
  
  
  
  <div id="id10" class="modal">
  
  
      <form class="modal-content animate"   action="javascript:;" onsubmit="addRoutine(this)">
        <div class="imgcontainer">
          <h1>Add a new routine</h1>
  
          <input id="nameRoutine" type="text" placeholder="choose a name for the routine"  />
          <div class="selectcontainer">
              <select name="select-type" id="select-color-routines" class="form-control">
                  <option value="1" icon="red-icon">red</option>
                  <option value="2" icon="purple-icon">purple</option>
                  <option value="3" icon="yellow-icon">yellow</option>
                  <option value="4" icon="green-icon">green</option>
                  <option value="5" icon="bleu-icon">bleu</option>
  
  
                </select>
          </div>
          <div class="selectcontainer">
          <select name="select-type" id="select-room-routines" class="form-control">
           <option value="0">bleu</option>
            <option style="display: none;" value="1">bleu</option>
            <option style="display: none;" value="2">bleu</option>
            <option style="display: none;" value="3">bleu</option>
            <option style="display: none;" value="4">bleu</option>
            <option style="display: none;" value="5">bleu</option>
            <option style="display: none;" value="6">bleu</option>
            <option style="display: none;" value="7">bleu</option>
            <option style="display: none;" value="8">bleu</option>
            <option style="display: none;" value="9">bleu</option>
            <option style="display: none;" value="10">bleu</option>
            <option style="display: none;" value="11">bleu</option>
            <option style="display: none;" value="12">bleu</option>
            <option style="display: none;" value="13">bleu</option>
            <option style="display: none;" value="14">bleu</option>
            <option style="display: none;" value="15">bleu</option>
            <option style="display: none;" value="16">bleu</option>
            <option style="display: none;" value="17">x</option> 


              
             </select>
          </div>
          <div class="selectcontainer">
          <select name="select-devices" id="select-devices-routines-on" class="form-control">
              <option value="1" >dht</option>
              <option value="2" >rgb</option>
              <option value="3" >gsense</option>
              <option value="4" >ultrason</option>
              <option value="6">light</option>
              <option value="7">alarm</option>


  
  
            </select>
          </div>
          <div class="selectcontainer">
            <select name="select-devices" id="select-devices-routines-off" class="form-control">
              <option value="1" >dht</option>
              <option value="2" >rgb</option>
              <option value="3" >gsense</option>
              <option value="4" >ultrason</option>
              <option value="6">light</option>
              <option value="7">alarm</option>
  
  
              </select>
          </div> 
  
  
          <button id="routine" >Add routine</button>
           <button type="button" onclick="document.getElementById('id10').style.display='none'" class="ghost">Cancel</button>
  
                </div> 
          </form>
  </div>
  
  
  
  
  <div name="" id="id11" class="modal">
  
  
      <form class="modal-content animate detailed delete-confirmation"  action="javascript:;" onsubmit="deleteRoutine(this)">
       <form >
          <br>
          <br>
         Delete this routine?
       <br>
       <br>
          <button  type="submit">Delete</button>
          <button type="button" onclick="document.getElementById('id11').style.display='none'" class="ghost">Cancel</button>
          <br>
          <br>
          <br> 
  
       </form>
      </form>
  
    </div>
  
  
    <div lang="test" id="id12" class="modal">
  
  
        <form class="modal-content animate" action="javascript:;" onsubmit="modifyRoutine(this)">
          <div class="imgcontainer">
            <h1>Modify this routine</h1>
  
            <input id="nameRoutineMod" type="text" placeholder=""  />
            <div class="selectcontainer">
                <select name="select-type" id="modify-color-routines" class="form-control">
                    <option value="1" icon="red-icon">brick red  </option>
                    <option value="2" icon="purple-icon">purple</option>
                    <option value="3" icon="yellow-icon">yellow</option>
                    <option value="4" icon="green-icon">green</option>
                    <option value="5" icon="bleu-icon">bleu</option>
  
  
  
                  </select>
            </div>
            <div class="selectcontainer">
            <select name="select-type" id="modify-room-routines" class="form-control">
                <option value="0">bleu</option>
            <option style="display: none;" value="1">bleu</option>
            <option style="display: none;" value="2">bleu</option>
            <option style="display: none;" value="3">bleu</option>
            <option style="display: none;" value="4">bleu</option>
            <option style="display: none;" value="5">bleu</option>
            <option style="display: none;" value="6">bleu</option>
            <option style="display: none;" value="7">bleu</option>
            <option style="display: none;" value="8">bleu</option>
            <option style="display: none;" value="9">bleu</option>
            <option style="display: none;" value="10">bleu</option>
            <option style="display: none;" value="11">bleu</option>
            <option style="display: none;" value="12">bleu</option>
            <option style="display: none;" value="13">bleu</option>
            <option style="display: none;" value="14">bleu</option>
            <option style="display: none;" value="15">bleu</option>
            <option style="display: none;" value="16">bleu</option>
            <option style="display: none;" value="17">x</option>
  
  
              </select>
            </div>
            <div class="selectcontainer">
            <select name="select-devices" id="modify-devices-routines-on" class="form-control">
                <option value="1" >dht</option>
                <option value="2" >rgb</option>
                <<option value="3" >gsense</option>
              <option value="4" >ultrason</option>
              <option value="6">light</option>
              <option value="7">alarm</option>
  
  
              </select>
            </div>
            <div class="selectcontainer">
              <select name="select-devices" id="modify-devices-routines-off" class="form-control">
                   <option value="1" >dht</option>
                <option value="2" >rgb</option>
                <<option value="3" >gsense</option>
              <option value="4" >ultrason</option>
              <option value="6">light</option>
              <option value="7">alarm</option>
  
  
                </select>
            </div> 
  
  
            <button type="submit">Modify Routine</button>
             <button type="button" onclick="document.getElementById('id12').style.display='none'" class="ghost">Cancel</button>
  
                  </div> 
            </form>
    </div>
  
  <script>
     
      document.getElementById("showRoutines").addEventListener("click", function() {
            for (i=0;i<scenario.length;i++){
              showroutines(i);

              document.getElementById("toggle"+i).checked = scenario[i].checked ; 
            }
          });    
  function showroutines(i){
    var b=("'block'"); 
    var a=("'id12'");
    var y=("'id11'");
    var check = scenario[i].checked ;
 var id = scenario[i]._id ; 
 var name = scenario[i].name ; 
    document.getElementById('routines').innerHTML +='<div class="dropdown-routine">'+
                                                        '<div class="dropbtnroutine">'+
                                                       '<img  src="../../../icons/settings2.png"  onclick="myFunctionRoutine('+i+')" class="dropbtnroutine">'+
                                                       '</div>'+
                                                       '<div id="myDropdownroutine'+i+'" class="dropdown-content-routine">'+
                                                         ' <a onclick="deleteConf('+i+')">Delete this routine</a>'+
                                                          '<a onclick="okBb('+i+')" >Modify this routine</a>'+
         
                                                        '</div>'+
                                                          '</div>'+
                                                          '<div>';
                                                           
                                                      
    if(scenario[i].color=="red"){
        document.getElementById('routines').innerHTML +='<div class="container-routines '+i+'">'+
                                                           '<h3 id="namrRoutine'+i+'">'+scenario[i].name+'</h3>'+
                                                           '<div class="checkbox-container red">'+
                                                              '<input onclick="activeRoutine(this)" type="checkbox"  id="toggle'+i+'" />'+
                                                              '<label for="toggle'+i+'"></label>'+
                                                          '<div class="active-circle"></div>'+
                                                          '</div>'+
                                                           '</div>';
      
  }
  if(scenario[i].color=="bleu"){
        document.getElementById('routines').innerHTML +='<div class="container-routines '+i+'">'+
                                                           '<h3 id="namrRoutine'+i+'">'+scenario[i].name+'</h3>'+
                                                           '<div class="checkbox-container bleu">'+
                                                              '<input onclick="activeRoutine(this)" type="checkbox"  id="toggle'+i+'" />'+
                                                          '<label for="toggle'+i+'"></label>'+
                                                          '<div class="active-circle"></div>'+
                                                          '</div>'+
                                                           '</div>';
      
  }
  if(scenario[i].color=="yellow"){
        document.getElementById('routines').innerHTML +='<div class="container-routines '+i+'">'+
                                                           '<h3 id="namrRoutine'+i+'">'+scenario[i].name+'</h3>'+
                                                           '<div class="checkbox-container yellow">'+
                                                              '<input onclick="activeRoutine(this)" type="checkbox"  id="toggle'+i+'" />'+
                                                              '<label for="toggle'+i+'"></label>'+
                                                          '<div class="active-circle"></div>'+
                                                          '</div>'+
                                                           '</div>';
      
  }
  if(scenario[i].color=="purple"){
        document.getElementById('routines').innerHTML +='<div class="container-routines '+i+'">'+
                                                           '<h3 id="namrRoutine'+i+'">'+scenario[i].name+'</h3>'+
                                                           '<div class="checkbox-container purple">'+
                                                              '<input onclick="activeRoutine(this)" type="checkbox"  id="toggle'+i+'" />'+
                                                          '<label for="toggle'+i+'"></label>'+
                                                          '<div class="active-circle"></div>'+
                                                          '</div>'+
                                                           '</div>';
      
  }
  if(scenario[i].color=="green"){
        document.getElementById('routines').innerHTML +='<div class="container-routines '+i+'">'+
                                                           '<h3 id="namrRoutine'+i+'">'+scenario[i].name+'</h3>'+
                                                             '<div class="checkbox-container green">'+
                                                              '<input onclick="activeRoutine(this)" type="checkbox"  id="toggle'+i+'" />'+
                                                          '<label for="toggle'+i+'"></label>'+
                                                          '<div class="active-circle"></div>'+
                                                          '</div>'+
                                                           '</div>';
      
  }
  }
  </script>
  <script>
  function myFunctionRoutine(i) {
            document.getElementById("myDropdownroutine"+i).classList.toggle("show");
          }
          
          // Close the dropdown if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtnroutine')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }       
  </script>
  
  
  
  
  
  


           <script>
                // Get the modal
                var modal1 = document.getElementById('id01');
            

              
              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function(event) {
                if (event.target =! modal1) {
                  modal1.style.display = "none";
              }
              }
              </script>
<!----------------------------------------------------------------------------------------------------------------->












  

  <section class="regular slider" id="test"></section>

  



<div style="display: none;">
                              <button type="submit" id="pushTest" ></button>
                          
                          </div>


  <div style="display: none;">
    <h1 id="getrooms">
      <%= rooms %>
    </h1>
    <h1 id="dht">
      <%= dht %>
    </h1>
    <h1 id="rgb">
      <%= rgb %>
    </h1>
    <h1 id="alarm">
      <%= alarm %>
    </h1>

    <h1 id="gsense">
      <%= gsense %>
    </h1>
    <h1 id="ultrason">
      <%= ultrason %>
    </h1>
    <h1 id="light">
      <%= light %>
    </h1>
    <h1 id="notifications">
      <%= notification %>
    </h1>
    <h1 id="scz">
        <%= routine %>
      </h1>
      <h1 id="devx">
          <%= devices %>
        </h1>

       
  </div>

</div>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
   <script src="../../../slick/slick.js" type="text/javascript" charset="utf-8"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script>
      var getrooms = JSON.parse(document.getElementById("getrooms").innerHTML);
      console.log(getrooms);
      var allrgb = JSON.parse(document.getElementById("rgb").innerHTML);
      var alldht = JSON.parse(document.getElementById("dht").innerHTML);
      var allgsense = JSON.parse(document.getElementById("gsense").innerHTML);
      var alllight = JSON.parse(document.getElementById("light").innerHTML);
      var notifications = JSON.parse(document.getElementById("notifications").innerHTML);
      var scenario = JSON.parse(document.getElementById("scz").innerHTML);
      var allultrason = JSON.parse(
        document.getElementById("ultrason").innerHTML
      );

      var allalarm = JSON.parse(document.getElementById("alarm").innerHTML);
      var devicesX = JSON.parse(document.getElementById("devx").innerHTML);
    function showRooms(i) {
          var v=("'id06'");
        b=("'block'")
        var w=("'id07'");
              
        document.getElementById('test').innerHTML+=
                
        '<div class="cardroom" style="margin-top: 50px">'+
            '<section class="container-name" id="type'+i+'" >'+
             
            '</section>'+
           '<iframe class="container-rgb" id="rgb'+i+'" frameBorder="0" scrolling="no">'+
            
            '</iframe>'+
            '<div id="temp" style="position:relative;">'+
                '<div id="overlay-charts" onclick="showTemp(this)" > '+
              '</div>'+
          
            '<iframe   id="charts'+i+'" frameBorder="0" scrolling="no" class="iframechart" >'+
            
            '</iframe>'+
            '</div>'+
            
            '<section class="container-secure" id="motions'+i+'">'+
            
            '</section>'+
            '<div id="gazz" style="position:relative;">'+
                '<div id="overlay-charts" onclick="showGaz(this)" > '+
                    '</div>'+
            '<iframe class="container-gaz" id="gaz'+i+'" frameBorder="0" scrolling="no" class="iframechart">'+
            
            '</iframe>'+
            '</div>'+
        '</div>'
        ;
                
                
            }
      
      function addType(i){
          var a=("'id05'");
          b=("'block'");
          var y=("'id08'");

          document.getElementById('type'+i).innerHTML+=  '<div class="dropdown">'+
                                                        '<div class="dropbtn">'+
                                                      '<img src="../../../icons/settings.png"  onclick="myFunction('+i+')" class="dropbtn">'+
                                                      '</div>'+
                                                      '<div id="myDropdown'+i+'" class="dropdown-content">'+
                                                        ' <a  onclick="deleteRoom('+i+')">Delete this room</a>'+
                                                          '<a onclick="modeR('+i+')" >Modify this room</a>'+
        
                                                        '</div>'+
                                                          '</div>';


                                                          if (getrooms[i].typeRoom == "kitchen") {
                                                            document.getElementById("type" + i).innerHTML +=
                                                              '<img src="../../../icons/hat.png" style="width:50px;margin-left:160px;margin-top:10px;">';
                                                            document.getElementById("type" + i).innerHTML +=
                                                              "<p>" + getrooms[i].name + "</p>";
                                                          }
                                                          if (getrooms[i].typeRoom == "bedroom") {
                                                            document.getElementById("type" + i).innerHTML +=
                                                              '<img src="../../../icons/bedroom.png" style="width:50px;margin-left:160px;margin-top:10px;">';
                                                            document.getElementById("type" + i).innerHTML +=
                                                              "<p>" + getrooms[i].name + "</p>";
                                                          }
                                                          if (getrooms[i].typeRoom == "livingRoom") {
                                                            document.getElementById("type" + i).innerHTML +=
                                                              '<img src="../../../icons/livingroom.png" style="width:50px;margin-left:160px;margin-top:10px;">';
                                                            document.getElementById("type" + i).innerHTML +=
                                                              "<p>" + getrooms[i].name + "</p>";
                                                          }
                                                          if (getrooms[i].typeRoom == "office") {
                                                            document.getElementById("type" + i).innerHTML +=
                                                              '<img src="../../../icons/office.png" style="width:50px;margin-left:160px;margin-top:10px;">';
                                                            document.getElementById("type" + i).innerHTML +=
                                                              "<p>" + getrooms[i].name + "</p>";
                                                          }
                                                          if (getrooms[i].typeRoom == "hallway") {
                                                            document.getElementById("type" + i).innerHTML +=
                                                              '<img src="../../../icons/hallway.png" style="width:50px;margin-left:160px;margin-top:10px;">';
                                                            document.getElementById("type" + i).innerHTML +=
                                                              "<p>" + getrooms[i].name + "</p>";
                                                          }
          
      }
      function addRGB(i){
        
        if (getrooms[i].devices.light[0] == ""){
          document.getElementById("rgb"+i).style.display = "none"
          
        } else {
         
        getrooms[i].devices.light.forEach(function(id) {
          alllight.forEach(function(elm) {
            if (id == elm._id) {
              if (elm.used == true) {
                if (getrooms[i].devices.rgb[0] == ""){

                document.getElementById('rgb'+i).style.display = "none";
                }
                document.getElementById('rgb'+i).src = '../../../rgb.html';    

                setTimeout(function(){
                  if (getrooms[i].devices.rgb[0] == ""){
                    document.getElementById('rgb'+i).style.display = "block";
                    document.getElementById("rgb"+i).contentDocument.defaultView.window.document.children[0].children[1].children[1].children[1].style.display = "none"      ;   

                    console.log("samaykom");
              document.getElementById("rgb"+i).contentDocument.defaultView.window.document.children[0].children[1].children[1].children[0].children[0].style.width ="15%"   ;  

      
                   }
//console.log( document.getElementById("rgb"+i).contentDocument.defaultView.window.document.children[0].children[1].children[0].children[0].name)
document.getElementById("rgb"+i).contentDocument.defaultView.window.document.children[0].children[1].children[0].children[0].name =  document.getElementById("type"+i).children[2].innerHTML;
               //   document.getElementById("rgb0").contentDocument.defaultView.window.document.getElementById("hihi").name= document.getElementById("type"+i).children[1].innerHTML ;

                },1000); 

                b = elm.value;
                console.log(b);
                if (elm.value == true) {
                  document.getElementById("rgb" + i).innerHTML +=
                    '<section id="OnOff"><img title="' +
                    id +
                    '"  onclick="OnOff(' +
                    i +
                    ", " +
                    b +
                    ')" src="../../../icons/on.png"  class="rgbview"></section>';
                } else if (elm.value == false) {
                  document.getElementById("rgb" + i).innerHTML +=
                    '<section id="OnOff"><img title="' +
                    id +
                    '"   onclick="OnOff(' +
                    i +
                    ", " +
                    b +
                    ')" src="../../../icons/off.png" style="width:13%;margin-left:35px;margin-top:20px;margin-bottom:20px" class="rgbview"></section>';
                }
              }
              else{
                                document.getElementById('rgb'+i).style.display = "none";

              }
            }
          });
        });
        
      }
    
     
      
        }
      


        function addCharts(i) {
          if (getrooms[i].devices.dht[0] == ""){
            document.getElementById("charts"+i).style.display = "none";
            document.getElementById("motions"+i).style.marginTop = 0;

          

            document.getElementById("temp").children[0].style.display = "none"
            
          } else {
          getrooms[i].devices.dht.forEach(function(id) {
            alldht.forEach(function(elm) {
              if (id == elm._id) {
                if (elm.used == true) {
                  setTimeout(function() {
                    document.getElementById(
                      "charts" + i
                    ).contentDocument.defaultView.massPopChart.data.datasets[0].data =
                      elm.value;
                  }, 1500);
                  document.getElementById("charts" + i).src =
                    "../../../Sweet-chart/mychart/dht.html";
                }
                b = elm.value;
              }
            });
          });
        }
        
        }
        function addMotion(i) {
          if (getrooms[i].devices.ultrason[0] == ""){
            document.getElementById("motions"+i).style.display = "none"
            
          } else {
          getrooms[i].devices.ultrason.forEach(function(id) {
            allultrason.forEach(function(elm) {
              if (id == elm._id) {
                if (elm.used == true) {
                  if (elm.value == true) {
                    document.getElementById("motions" + i).innerHTML +=
                    '<div class="row">'+
                        '<div class="column">'+
                      '<img id="motions" src="../../icons/motion.png" class="gifgif">'+
                      '</div>'+
                      '<div class="column">'+
                          '<div class="onoffswitch" style="margin-left:20%">'+
                              '<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>'+
                                '<label class="onoffswitch-label" for="myonoffswitch">'+
                                   '<span class="onoffswitch-inner"></span>'+
                                     '<span class="onoffswitch-switch"></span>'+
                               '</label>'+
                            '</div>'+
                          '</div>'+

                      '</div>';

                      
                  }
                }else {
                  document.getElementById("motions"+i).style.display = "none"
                }
              }
            });
          });
        }
      }
        function addGaz(i) {
          if (getrooms[i].devices.gsense[0] == ""){
            document.getElementById("gaz"+i).style.display = "none"

          

            document.getElementById("gazz").children[0].style.display = "none"
            
          } else {
          getrooms[i].devices.gsense.forEach(function(id) {
            allgsense.forEach(function(elm) {
              if (id == elm._id) {
                if (elm.used == true) {
                  setTimeout(function() {
                    // document.getElementById(
                    // "gaz" + i
                    // ).contentDocument.defaultView.massPopChart.data.datasets[0].data =
                    // elm.value;
                  }, 5000);
                  document.getElementById("gaz" + i).src +=
                    "../../Sweet-chart/mychart/gaz.html";
                } else {
                  document.getElementById("gaz"+i).style.display = "none";
                }
              }
            });
          });
        }
        }
    


      
    </script>
    <script>
      

          document.getElementById("notify").addEventListener("click", function() {
            document.getElementById('notifi').innerHTML ="";
            for (i=0;i<notifications.length;i++){
              showntifications(i);
            }
          });    
  function showntifications(i){
        if(notifications[i].type=="motion") {
        document.getElementById('notifi').innerHTML += '<li id="mouvement'+i+'"   class="motion">' +notifications[i].content+ '<a   title="Delete notification" style="margin-left:100px;"> '+ notifications[i].time+ ' &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>' + '<span onclick="deleteNot('+i+')"  class="closenoti" title="delete notification" style=" margin-top:10px">&times;</span>'+ ' </li>';
        
  }
        if(notifications[i].type=="temperature"){
          document.getElementById('notifi').innerHTML += '<li  id="tmp'+i+'"  class="temperature">' +notifications[i].content+ '<a   title="Delete notification" style="margin-left:100px;"> '+ notifications[i].time+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>' + '<span onclick="deleteNot('+i+')"  class="closenoti" title="delete notification" style=" margin-top:10px">&times;</span>'+ ' </li>';
      
      
      }
        
        
        if(notifications[i].type=="gaz") {
          document.getElementById('notifi').innerHTML += '<li id="gz'+i+'" class="gaz">' +notifications[i].content+ '<a    title="Delete notification" style="margin-left:100px;"> '+ notifications[i].time+ '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>' + '<span onclick="deleteNot('+i+')"  class="closenoti" title="delete notification" style=" margin-top:10px">&times;</span>'+ ' </li>';
       
      }
      
      
  }
      </script>
    <script>
    $(document).on('ready', function() {
      for (i = 0; i < getrooms.length; i++){
      showRooms(i);
      addType(i); 
      addRGB(i);  
      addCharts(i); 
      addGaz(i);
            biz(i); 

      addMotion(i);
      rek(i) ;

    }
    
    
  });
   
    </script>
    
    <script>
         function myFunction(i) {
          document.getElementById("myDropdown"+i).classList.toggle("show");
         document.getElementById("modify").placeholder =  document.getElementById("type"+i).children[2].innerHTML;
          //console.log(document.getElementsByClassName("dropbtn")[])   ;     // Close the dropdown if the user clicks outside of it

        }
        
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }       
        </script>

  <script>
    var a;
    if (getrooms.length > 3) {
      a = true;
    } else {
      a = false;
    }
   
    $(document).on('ready', function() {
     
  $(".regular").slick({
    dots: true,
  infinite: a,
  speed: 300,
  slidesToShow: 1,
  centerMode: true,
  variableWidth: true,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
      });
      
  
</script>
<script>
    Pusher.logToConsole = true;

var pusher = new Pusher('28874f2f3bdf02b787e5', {
  cluster: 'eu',
  forceTLS: true
});

var channel = pusher.subscribe('alarms');
channel.bind('inserted', function(data) {
  //  VanillaToasts.create({
    //    title: 'alert',
      //  text:JSON.stringify(data),
       // type: 'warning', // success, info, warning, error
        //icon: 'designs/login.png',
        //timeout: 2000 ,
        //callback: function() {  } 
     // });
     var id =  JSON.stringify(data.id) ;
     const name = "haha";
const saha  = document.getElementById("pushTest");
saha.click();
toastr.options = {
  closeButton: true,
  debug: false,
  newestOnTop: true,
  progressBar: false,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: 0,
  extendedTimeOut: 0,
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
  tapToDismiss: false,
  onclick: function() {
    $.ajax({
      type: "POST",
      data: JSON.stringify({ type: "motion" , content : "Mouvement Detected" , time : new Date().toString().substring(0,24)  }),
      contentType: "application/json",
      dataType: "json",
      url: "/api/rooms/getnotifications"+document.location.search,
      success: function(data) {

console.log("test khay !" +data);
            }
    });
  
    
    $.ajax({
      type: "POST",
      data: JSON.stringify({
        id : id
      }),
      contentType: "application/json",
      dataType: "json",
      url: "/api/rooms/notifications"+document.location.search,
      success: function(name) {
nombre = 0;
for(var i = 0 ; i < getrooms.length; i++){

if (document.getElementById("slick-slide0"+ i ).attributes["aria-hidden"].value == "false"){ 
  if (name[0] == document.getElementById("type"+i).children[1].innerHTML  ){
    nombre = getrooms.length;
    break;
  }
  else {
    nombre = i  ;
    //document.getElementsByClassName("slick-next")[0].click();
    break ; 
  }

}
}
$('.regular').slick('slickSetOption', 'speed', 50, true);
a =nombre; 
b = 10;

console.log("length : "+ getrooms.length);
t = setInterval(function(){
  console.log(a);
  
    if (a < getrooms.length )  {
      console.log(document.getElementById("type"+a).children[2].innerHTML) ; 

      if (name[0] == document.getElementById("type"+a).children[2].innerHTML )
    {
    document.getElementById("motions").src = "http://localhost:3000/icons/motion.gif" ; 
    document.getElementById("motions").onclick = function (){
      document.getElementById("motions").src = "http://localhost:3000/icons/motion.png" ; 

    }
    clearInterval(t);
  } 


  else{ 
    console.log("machi matsawyin");
    document.getElementsByClassName("slick-next")[0].click();
    a++;
  }} else {
    a = 0 ; 
    }

  



},200);
console.log(nombre+1);
//TODO doka ha ndir 
      }
  
// hna
// TODO ok 
//document.getElementsByClassName("slick-next")[0].firstChild.data
 
    }) ; 
    
    
    $('.regular').slick('slickSetOption', 'speed', 300, true);
    toastr.remove();
  }
};

  toastr["error"](
    `Mouvement Detected,  :"     <br /><br /><button id="stop" type="button" class="btn btn-dark">Stop the alarm and check the room </button>`,
    " alarm rings "
  );

// alert(JSON.stringify(data +" :ahay"));
 if(!("Notification" in window)){
        alert("this browser does not support notif");
    }else if (Notification.permission == "granted"){
        var notification = new Notification(JSON.stringify(data));
    } 
    else if(Notification.permission!="denied"){
       Notification.requestPermission(function(permission){
          if("permission" == "granted"){
                var notification = new Notification(JSON.stringify(("ok")));
            }
        });
    }
});
</script>
<script src="../../../select-beauty.js"></script>
<script>
		var selectType = new SelectBeauty({
			el: '#select-type',
			length: 6,
      placeholder:"choose type",
			max: 1
		});

    var selectDevices = new SelectBeauty({
			el: '#select-devices',
			length: 20,
      placeholder:"choose the devices used in the room",
			max:6
    });
 
    var selectdevicestodelelet = new SelectBeauty({
			el: '#select-devicesdelet',
			length: 6,
      placeholder:"choose devices to delete from the room",
			max:6
    });
  
    var selectdevicestoadd = new SelectBeauty({
			el: '#select-devicestoadd',
			length: 6,
      placeholder:"choose new devices to add to the room",
      max:6
    
      
    });
    

    var selectdeviceoffsroutines = new SelectBeauty({
      el: '#select-devices-routines-off',
      length: 6,
      placeholder:"choose devices to go off when this routine is activated",
      max:6
    });
    var selectdevicesonroutines = new SelectBeauty({
      el: '#select-devices-routines-on',
      length: 6,
      placeholder:"choose devices to go on when this routine is activated",
      max:6
    });
  
    var selectroomsroutines= new SelectBeauty({
      el: '#select-room-routines',
      length: 1,
      placeholder:"choose rooms that will follow this routine",
      max:10
    });
    var selectcolorsroutines= new SelectBeauty({
      el: '#select-color-routines',
      length: 6,
      placeholder:"choose a color for the routine card",
      max:1
    });
    var modifydeviceoffsroutines = new SelectBeauty({
      el: '#modify-devices-routines-off',
      length: 6,
      placeholder:"modify devices to go off when this routine is activated",
      max:6
    });
    var modifydevicesonroutines = new SelectBeauty({
      el: '#modify-devices-routines-on',
      length: 6,
      placeholder:"modify devices to go on when this routine is activated",
      max:6
    });
  
    var modifyroomsroutines= new SelectBeauty({
      el: '#modify-room-routines',
      length: 6,
      placeholder:"modify the rooms that will follow this routine",
      max:10
    });
    var modifycolorsroutines= new SelectBeauty({
      el: '#modify-color-routines',
      length: 6,
      placeholder:"modify the color for the routine card",
      max:1
    });

  </script>

  <script>

    function modeR(i){
      document.getElementById('id05').style.display='block' ; 
      id = getrooms[i]._id ; 
$.ajax({
  method : "POST"  ,
  data : JSON.stringify ({ id : id }),
  "url" : "/api/rooms/modeR"+document.location.search,
  contentType: "application/json",
  dataType: "json",
  success : function(data){

    console.log({
      data : data,
    })
    for (var j = 0; j < data.devicesToDelete.length; j++){
    
      document.getElementsByClassName("select-beauty")[2].children[1].children[j].children[0].dataset.value = j ;
      document.getElementsByClassName("select-beauty")[2].children[1].children[j].children[0].innerText = data.devicesToDelete[j] ;
      selectdevicestodelelet.tempData[j].text = data.devicesToDelete[j] ; 
  
    }
    for (var k = data.devicesToDelete.length ;   k< Object.entries(selectdevicestodelelet.tempData).length  ; k++){

      document.getElementsByClassName("select-beauty")[2].children[1].children[k].innerText = "" ; 



    }
    for (var j = 0; j < data.devicesToAdd.length; j++){
    
      document.getElementsByClassName("select-beauty")[3].children[1].children[j].children[0].dataset.value = j ;
      document.getElementsByClassName("select-beauty")[3].children[1].children[j].children[0].innerText = data.devicesToAdd[j] ;
      selectdevicestoadd.tempData[j].text = data.devicesToAdd[j] ; 
  
    }
    for (var k = data.devicesToAdd.length ;   k< Object.entries(selectdevicestoadd.tempData).length  ; k++){

      document.getElementsByClassName("select-beauty")[3].children[1].children[k].innerText = "" ; 



    }





  }
})


    }


function addRoom(){
  

  document.getElementById('id03').style.display='block' ;
  for (j = 0; j < devicesX.devices.length; j++){

    document.getElementsByClassName("select-beauty")[1].children[1].children[j].children[0].dataset.value = j ;
    document.getElementsByClassName("select-beauty")[1].children[1].children[j].children[0].innerText = devicesX.devices[j] ;
    selectDevices.tempData[j].text = devicesX.devices[j] ; 

  }
  for(k  = devicesX.devices.length ; k < Object.entries(selectDevices.tempData).length ; k++){
    document.getElementsByClassName("select-beauty")[1].children[1].children[k].innerText = "" ; 


  }


}

function activeRoutine(){
  for (var i =0 ; i<scenario.length ; i ++){
    if (document.getElementById("toggle"+i).checked == true){


      $.ajax({
        type: "POST",
        data: JSON.stringify({ id: scenario[i]._id }),
        contentType: "application/json",
        dataType: "json",
        url: "/api/rooms/activeRoutine"+document.location.search,
        success: function(data) {
          setTimeout(function(){
            location.reload()
           },400)      }
      });





    } else {
      $.ajax({
        type: "POST",
        data: JSON.stringify({ id: scenario[i]._id }),
        contentType: "application/json",
        dataType: "json",
        url: "/api/rooms/desactiveRoutine"+document.location.search,
        success: function(data) {
          setTimeout(function(){
            location.reload()
           },400)      }
      });    }
  }

}


      function clickBb(){
        document.getElementById('id10').style.display='block' ; 
        for (var i = getrooms.length ;  i<document.getElementsByClassName("select-beauty")[5].children[1].children.length ; i++){
          document.getElementsByClassName("select-beauty")[5].children[1].children[i].innerText = "" ; 
        }
       
      }
      function okBb(j){
        document.getElementById("nameRoutineMod").placeholder = scenario[Number(j)].name ; 
                document.getElementById('id12').style.display='block' ; 
                document.getElementById('id12').lang = j ;

        for (var i = getrooms.length ;  i<document.getElementsByClassName("select-beauty")[9].children[1].children.length ; i++){
          document.getElementsByClassName("select-beauty")[9].children[1].children[i].innerText = "" ; 
        }
      }
      function deleteConf(i){
        document.getElementById("id11").style.display='block' ; 
        document.getElementById("id11").name = i ; 
      }
  
 function deleteRoutine(){

  var i =  document.getElementById("id11").name ; 
var name = document.getElementsByClassName("container-routines "+i)[0].children[0].innerHTML ;
$.ajax({
  type: "POST",
  data: JSON.stringify({ name : name  , i : i }),
  contentType: "application/json",
  dataType: "json",
  url: "/api/rooms/deleteRoutine"+document.location.search,
  success: function(data) {
  document.getElementsByClassName("container-routines "+data.i)[0].style.display = "none" ; 
  document.getElementById("id11").style.display='none' ; 

 setTimeout(function(){
      location.reload()
     },400)
     }
  
});

 }
    function rek(i){
   
      document.getElementsByClassName("select-beauty")[5].children[1].children[i].children[0].dataset.value = i ;
      document.getElementsByClassName("select-beauty")[5].children[1].children[i].children[0].innerText = getrooms[i].name ;
      selectroomsroutines.tempData[i].text = getrooms[i].name ; 


      

 
    }
    function biz(i){
       document.getElementsByClassName("select-beauty")[9].children[1].children[i].children[0].dataset.value = i ;
      document.getElementsByClassName("select-beauty")[9].children[1].children[i].children[0].innerText = getrooms[i].name ;
      modifyroomsroutines.tempData[i].text = getrooms[i].name ; 
    }
function deleteNot(j){

var id  = notifications[j]._id ; 
var type  = notifications[j].type ; 

$.ajax({
  type: "POST",
  data: JSON.stringify({ id: id , type : type , i :j }),
  contentType: "application/json",
  dataType: "json",
  url: "/api/rooms/deleteNot"+document.location.search,
  success: function(data) {
 if (data.type == "motion") {
   document.getElementById("mouvement"+data.i).style.display = "none";
 } else if (data.type == "temperature") {
  document.getElementById("tmp"+data.i).style.display = "none";
} else if (data.type == "gaz") {
  document.getElementById("gz"+data.i).style.display = "none";
} 

}
});


}
function modifyRoutine(){
    var devicesOn = new Object();
 var devicesOff = new Object();
 var rooms = new Array() ; 

 const i = Number(document.getElementById("id12").lang) ; 
 const id = scenario[i]._id ; 




var name = document.getElementById("nameRoutineMod").value ;

if ( name == ""){
  name = document.getElementById("nameRoutineMod").placeholder

} 

 const color = Object.entries(modifycolorsroutines.selected)[0][1].text ;
 Object.entries(modifyroomsroutines.selected).forEach(function(elm){
rooms.push(elm[1].text) ; 
 });

 Object.entries(modifydevicesonroutines.selected).forEach(function(elm){
  var ok = elm[1].text ; 
  devicesOn[ok] = true ; 
   });
   Object.entries(modifydeviceoffsroutines.selected).forEach(function(elm){
    var ok = elm[1].text ; 
    devicesOff[ok] = false ; 
     });
   //  document.getElementsByClassName("container-routines 0")[0].children[0].innerHTML
 
   $.ajax({
    type: "POST",
    data: JSON.stringify({ rooms: rooms , name : name , devicesOff : devicesOff, devicesOn : devicesOn , color :color , id : id }),
    contentType: "application/json",
    dataType: "json",
    url: "/api/rooms/modifyRoutine"+document.location.search,
    success: function(data) {
      setTimeout(function(){
        location.reload()
       },400)}
  });
  



}

function addRoutine(){
 var devicesOn = new Object();
 var devicesOff = new Object();


  const rooms = new Array() ; 
 const name =  document.getElementById("nameRoutine").value; 
 const color = Object.entries(selectcolorsroutines.selected)[0][1].text ;
 Object.entries(selectroomsroutines.selected).forEach(function(elm){
rooms.push(elm[1].text) ; 
 });

 Object.entries(selectdevicesonroutines.selected).forEach(function(elm){
  var ok = elm[1].text ; 
  devicesOn[ok] = true ; 
   });
   Object.entries(selectdeviceoffsroutines.selected).forEach(function(elm){
    var ok = elm[1].text ; 
    devicesOff[ok] = false ; 
     });

     // TODO problem teh devices...........................................



$.ajax({
  type: "POST",
  data: JSON.stringify({ rooms: rooms , name : name , devicesOff : devicesOff, devicesOn : devicesOn , color :color }),
  contentType: "application/json",
  dataType: "json",
  url: "/api/rooms/addRoutine"+document.location.search,
  success: function(data) {
    setTimeout(function(){
      location.reload()
     },400)}
});


}



      function create(){
        
  const type = Object.entries(selectType.selected)[0][1].text
  const name = document.getElementById("nameRoom").value ; 
  var dev = {
    dht : false,
    gsense : false,
    rgb : false,
    ultrason : false,
    alarm :false, 
    light :false
  }
   
  Object.entries(selectDevices.selected).forEach(function(elm){
    if (elm) {var text = elm[1].text ; 
    dev[text] = true;
    }
  })

  $.ajax({
    type: "POST",
    data: JSON.stringify({ type: type , name : name , devices : dev }),
    contentType: "application/json",
    dataType: "json",
    url: "/api/rooms/add"+document.location.search,
    success: function(data) {
      setTimeout(function(){
        location.reload()
       },400)    }
  });

    }

    function getName(){
      i = 0 ;
while (document.getElementById("slick-slide0"+i)) {
  if (document.getElementById("slick-slide0"+i).attributes["aria-hidden"].value == "false"){
    return document.getElementById("slick-slide02").children[0].children[0].innerText
  }
}
    }
   


    function  showTemp() {
      console.log("libya 1");

	$("#dialogBox").dialog({
		open: function(event,ui) {
			$(".ui-widget-overlay").bind("click", function(event,ui) {         
				$("#dialogBox").dialog("close");
			});
		},
		closeOnEscape: true,
		draggable: false,
		resizable: false,
		title: "Temperature and Humidity",
    width: 900,
    high : 700,
		modal: true,
		show: 500
	});
	$(".ui-widget-overlay").css({"background-color": "#ef7ef7"});
    // Create the chart
  Highcharts.stockChart("chartContainer", {
    chart: {
      events: {
        load: function() {
          // set up the updating of the chart each second
            var series = this.series[0];
                  var series2 = this.series[1];
                  setInterval(function() {
                    var x = new Date().getTime(), // current time
                      y = Math.random();
                    z = Math.random();
                    series.addPoint([x, y], false, true);
                    series2.addPoint([x, z], true, true);
                  }, 1000);
        }
      }
    },

    time: {
      useUTC: false
    },

    rangeSelector: {
      buttons: [
        {
          count: 1,
          type: "minute",
          text: "1M"
        },
        {
          count: 5,
          type: "minute",
          text: "5M"
        },
        {
          type: "all",
          text: "All"
        }
      ],
      inputEnabled: false,
      selected: 0
    },

    title: {
      text: "Temperature and Humidity Chart"
    }, yAxis: [
                {
                    opposite:false , 
                  title: {
                    text: "Temperature (C)'"
                  },
                  plotLines: [
                    {
                      value: 0,
                      width: 1,
                      color: "#8c1531"
                    }
                  ]
                },
                {
                  title: {
                    text: "Humidity (%)"
                  },
                  plotLines: [
                    {
                      value: 0,
                      width: 1,
                      color: "#808080"
                    }
                  ]
                }
              ],

    exporting: {
      enabled: false
    },

    series: [
      {
        name: "Temperature",  marker: {
                  enabled: true,
                  radius: 5,
                  fillColor: "#0cc9c6"
                },
        data: (function() {
          // generate an array of random data
          var data = [],
            time = new Date().getTime(),
            i;

          for (i = -999; i <= 0; i += 1) {
            data.push([time + i * 1000, Math.round(Math.random() *2000) + 1000]);
          }
          return data;
        })()
      } , 
      {
        name : "Humidity" ,
          marker: {
                  enabled: true,
                  radius: 5,
                  fillColor: "#b904d1"
                },
                            yAxis: 1,
        data : (function() {
          // generate an array of random data
          var data = [],
            time = new Date().getTime(),
            i;

          for (i = -999; i <= 0; i += 1) {
            data.push([time + i * 1000, Math.round(Math.random() * 800) + 150]);
          }
          return data;
        })()

      }
    ] , 
     responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    layout: 'horizontal'
                },
                yAxis: {
                    labels: {
                        align: 'left',
                        x: 0,
                        y: -5
                    },
                    title: {
                        text: null
                    }
                },
                subtitle: {
                    text: null
                },
                credits: {
                    enabled: false
                }
            }
        }]
    }
  });

    }


    function showGaz() {
      console.log("libya")


      $("#dialogBox").dialog({
        open: function(event,ui) {
          $(".ui-widget-overlay").bind("click", function(event,ui) {         
            $("#dialogBox").dialog("close");
          });
        },
        closeOnEscape: true,
        draggable: false,
        resizable: false,
        title: "Temperature and Humidity",
        width: 900,
        high : 700,
        modal: true,
        show: 500
      });
      $(".ui-widget-overlay").css({"background-color": "#ef7ef7"});
        // Create the chart
      Highcharts.stockChart("chartContainer", {
        chart: {
          events: {
            load: function() {
              // set up the updating of the chart each second
                var series = this.series[0];
                      var series2 = this.series[1];
                      setInterval(function() {
                        var x = new Date().getTime(), // current time
                          y = Math.random();
                        z = Math.random();
                        series.addPoint([x, y], false, true);
                        series2.addPoint([x, z], true, true);
                      }, 1000);
            }
          }
        },
    
        time: {
          useUTC: false
        },
    
        rangeSelector: {
          buttons: [
            {
              count: 1,
              type: "minute",
              text: "1M"
            },
            {
              count: 5,
              type: "minute",
              text: "5M"
            },
            {
              type: "all",
              text: "All"
            }
          ],
          inputEnabled: false,
          selected: 0
        },
    
        title: {
          text: "Temperature and Humidity Chart"
        }, yAxis: [
                    {
                        opposite:false , 
                      title: {
                        text: "Temperature (C)'"
                      },
                      plotLines: [
                        {
                          value: 0,
                          width: 1,
                          color: "#8c1531"
                        }
                      ]
                    },
                    {
                      title: {
                        text: "Humidity (%)"
                      },
                      plotLines: [
                        {
                          value: 0,
                          width: 1,
                          color: "#808080"
                        }
                      ]
                    }
                  ],
    
        exporting: {
          enabled: false
        },
    
        series: [
          {
            name: "Temperature",  marker: {
                      enabled: true,
                      radius: 5,
                      fillColor: "#0cc9c6"
                    },
            data: (function() {
              // generate an array of random data
              var data = [],
                time = new Date().getTime(),
                i;
    
              for (i = -999; i <= 0; i += 1) {
                data.push([time + i * 1000, Math.round(Math.random() *2000) + 1000]);
              }
              return data;
            })()
          } , 
          {
            name : "Humidity" ,
              marker: {
                      enabled: true,
                      radius: 5,
                      fillColor: "#b904d1"
                    },
                                yAxis: 1,
            data : (function() {
              // generate an array of random data
              var data = [],
                time = new Date().getTime(),
                i;
    
              for (i = -999; i <= 0; i += 1) {
                data.push([time + i * 1000, Math.round(Math.random() * 800) + 150]);
              }
              return data;
            })()
    
          }
        ] , 
         responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'horizontal'
                    },
                    yAxis: {
                        labels: {
                            align: 'left',
                            x: 0,
                            y: -5
                        },
                        title: {
                            text: null
                        }
                    },
                    subtitle: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    }
                }
            }]
        }
      });
    
        }


        function deleteRoom(i){
        var name =   document.getElementById("type"+i).children[2].innerHTML ; 
        $.ajax({
          type: "DELETE",
          data: JSON.stringify({ name : name }),
          contentType: "application/json",
          dataType: "json",
          url: "/api/rooms/delete"+document.location.search,
          success: function(data) {
            setTimeout(function(){
              location.reload()
             },400)        }
      });
    }

   function modifyRoom(){

var name = document.getElementById("modify").placeholder ;
if (document.getElementById("modify").value != ""){
  name = document.getElementById("modify").value
}

    var devAdd = new Array() ; 
    var devDel = new Array() ; 
Object.entries(selectdevicestoadd.selected).forEach(function(elm){
if (elm){
  
  var name = elm[1].text ; 
  devAdd.push(name) ; 
}

}); 
Object.entries(selectdevicestodelelet.selected).forEach(function(elm){
  if (elm){
    var name = elm[1].text ; 
    devDel.push(name)  
  }
});
$.ajax({
    type: "POST",
    data: JSON.stringify({ name : name , devAdd : devAdd , devDel : devDel }),
    contentType: "application/json",
    dataType: "json",
    url: "/api/rooms/modify"+document.location.search,
    success: function(data) {
     
    setTimeout(function(){
      location.reload()
     },400)
  }

    
  });
  
   }

  </script>
 

</body>
</html>
